// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
$fa-font-path: "../webfonts";

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';

// Admin LTE
@import '~admin-lte/dist/css/adminlte.css';

// Custom SCSS
.router-link-exact-active {
    background-color: #d6d8d9 !important;
    color: #212529 !important;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #343a40cc;
}

.nav-pills .nav-link:not(.active):hover {
    color: $text-muted;

    &:click {
        color: $text-muted;
        font-weight: 900;
    }
}

.card {
    color: #76838F;
}

.dashboard:hover {
    & i {
        transition: all .3s linear;
        font-size: 75px;
    }
}

.card-body.dashboard i {
    float: right;
    color: $teal;

    &:hover {
        color: rgba($color: $teal, $alpha: 0.8);
    }
}

.card-body .display-4 {
    color: $teal;
}

tbody i {
    cursor: pointer;
}

tbody td i {
    padding: 0px 5px;
    color: $teal;
}

.small-box-footer {
    padding: 5px;
    background: #F0F0F0;
    position: inherit;
    text-align-last: center;
    color: $text-muted;
    text-decoration: none;

    &:hover {
        text-decoration: none;
        color: $text-muted;
    }
}

label {
    margin-bottom: 0px;
}

.form-group {
    margin-bottom: .5rem;
}

.form-control-custom {
    height: calc(1.5em + 0.5rem + 4px);
}

.text-muted {
    color: $text-muted;
}
