// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
$fa-font-path: "../webfonts";

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';

// Admin LTE
@import '~admin-lte/dist/css/adminlte.css';

// Custom SCSS
.router-link-exact-active {
    background-color: #d6d8d9 !important;
    color: #212529 !important;
}

.card {
    color: #76838F;
}

.card-body i {
    float: right;
    color: $teal;
}

.card-body .display-4 {
    cursor: pointer;

    &:hover {
        text-decoration: underline;
        color: $teal;
    }
}
